# まず全て無視
*

# ただし次は追跡する
!/.gitignore
!/README.md
!/LICENSE
!/CITATION.cff

# フォルダを使う場合はフォルダ自体の無視を解除してから個別ファイルを許可
!/plot_Exp1Exp2.m
!/plot_Exp3.m
!/savgolayFilt.m
!/shadedErrorBar.m
!/sliding_window.m
